h3{
  color: purple;
}

.firstDiv{
  color: blue;
}

.secondDiv{
  color: red;
}

#singledout{
  color: green;
  text-decoration: underline;
  text-transform: capitalize;
}

h3 + ul{
  border: 4px dotted purple;
}

li a{
  color: red;
}

li a[href="www.google.com"]{
  color: pink;
  border: 4px solid orange;
}

li{
  color: blue;
}
